@use 'variables';

.footer {
    background-color: variables.$orange;
}

.containerFooter {
    @media only screen and (max-width: 640px) {
        width: 95%;
        font-size: 8px;
    }

    &__title {
        text-align: center;
    }

    &__subtitle {
        text-align: center;
    }

    &__icons {
        display: flex;
        justify-content: center;
        
    }

    &__icons-link {
        text-decoration: none;

        &Img {
            margin: 0 auto;
            max-width: 100%;
            width: 80px;
            height: 50px;
        }
    }
}